@import './fonts.css';
@import './header.css';

@custom-media --viewport-medium (width <= 50rem);

:root {
    --fontSize: 1.8rem;
    --fontSizeMin: .8rem;
    --mainColor: #0f2b47;
    --secondaryColor: #fff;
    --baseline: 30px;
}

* {
    box-sizing: border-box;
}

html {
    overflow: hidden auto;
    font-size: 18px;
}

body {
    font-family: 'HK Grotesk Wide';
    font-size: var(--fontSize);
    font-weight: 300;
    color: var(--secondaryColor);
    background-color: var(--mainColor);
    line-height: calc(var(--fontSize) * 1.5);
    overflow-wrap: break-word;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

h1 {
    font-size: 2.8em;
    font-weight: 900;
    margin:0 var(--baseline);
    /* -webkit-text-stroke: 1px var(--secondaryColor);
    -webkit-text-fill-color: transparent; */
}

a {
    color: var(--white);

    &:hover {
        color: rebeccapurple;
    }
}

footer {
    position: absolute;
    bottom: var(--baseline);
    left: var(--baseline);

    p {
        font-size: var(--fontSizeMin);
        line-height: 1;
        margin: 0;
    }
}
