@import './header.css';

@custom-media --viewport-medium (min-width: 64.063em);
@custom-media --viewport-small (min-width:40.063em);

:root {
    --fontSize: 1.8rem;
    --fontSizeMin: .8rem;
    --mainColor: #F5DE4D;
    --secondaryColor: #081929;
    --baseline: 30px;
    --rotateItem: 90;
    --topItem: 200;
    --leftItem: 200;
}

* {
    box-sizing: border-box;
}

html {
    overflow: hidden auto;
    font-size: 18px;
}

body {
    font-family: 'HK Grotesk Wide';
    font-size:5vmin;
    font-weight: 300;
    color: var(--secondaryColor);
    background-color: var(--mainColor);
    line-height: calc(var(--fontSize) * 1.5);
    overflow-wrap: break-word;
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

h1 {
    font-size: 13vw;

    @media(--viewport-small) {
        font-size: 9vw;
    }
    hyphens: auto;
    font-weight: 900;
    line-height: 1;
    margin:0 var(--baseline);
    position: relative;
    z-index: 1000;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

h1.loaded {
    opacity: 1;
}

h4 {
    font-weight: 300;
}

.marquee {
    position: fixed;
    top: -150px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    user-select: none;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.marquee.loaded {
    opacity: 1;
}

.toRepeat {
    font-weight: 900;
    line-height: 1;
    -webkit-text-stroke: 1px var(--secondaryColor);
    -webkit-text-fill-color: transparent;
    transform-origin: left top;
    margin: 0;
    width: auto;
    white-space: nowrap;
    text-align: left;
    position: absolute;
    display: block;
    font-size: 35vw;

    @media(--viewport-small) {
        font-size: 10rem;
    }
}

@for $i from 1 to 8 {
    .toRepeat-$i {
        left: -30px;
        transform: rotateZ(math(-15)deg);
        top: math(35 * $(i))vw;
        text-indent: -math(floor(random() * 10) * $(i))rem;

        @media(--viewport-small) {
            top: math(10 * $(i))rem;
            text-indent: -math(floor(random() * 7) * $(i))rem;
        }
    }
}

a {
    color: var(--white);

    &:hover {
        color: rebeccapurple;
    }
}

footer {
    position: absolute;
    bottom: var(--baseline);
    left: var(--baseline);

    p {
        font-size: var(--fontSizeMin);
        line-height: 1;
        margin: 0;
    }
}