.logoWrapper {
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    top: var(--baseline);
    right: var(--baseline);
    overflow: visible;
}

.logoWrapper.preloading {
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -50px;
}

.logo {
    animation-name: rotate;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    overflow: visible;
}

.logo text {
    text-align: center;
    fill: var(--secondaryColor);
    letter-spacing: 6px;
    font-size: 1rem;
}

.bottle {
    position: absolute;
    width: 60px;
    height: 40px;
    left: 20px;
    top: 30px;
    overflow: visible;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.logoWrapper.preloading .bottle {
    opacity: 1;
}

.bottle .bottlePath {
    position: absolute;
    fill: var(--secondaryColor);
    transform-origin: bottom center;
}

.bottle.isAnimated .bottlePath {
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

.bottle .bottleOne {
    animation-name: rotateRight;
}

.bottle .bottleTwo {
    animation-name: rotateLeft;
}

.bottle .tada {
    transform: rotate(-25deg);
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-name: tada;
    opacity: 0;
}

@keyframes rotate {
    from { transform: rotate(0deg) }
    to   { transform: rotate(360deg); }
}

@keyframes rotateRight {
    0% {
        transform: rotate(0) translateY(0px)
    }

    15% {
        transform: rotate(10deg) translateY(-3px);
    }

    30% {
        transform: rotate(8deg) translateY(-2px);
    }

    60% {
        transform: rotate(0) translateY(0);
    }
}

@keyframes rotateLeft {
    0% {
        transform: rotate(0) translateY(0px);
    }

    15% {
        transform: rotate(-4deg) translateY(-10px);
    }

    30% {
        transform: rotate(-5deg) translateY(-9px);
    }

    60% {
        transform: rotate(0) translateY(0);
    }
}

@keyframes tada {
    8% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }
}

:root {
    --fontSize: 1.8rem;
    --fontSizeMin: .8rem;
    --mainColor: #f5f54a;
    --secondaryColor: #0f2b47;
    --baseline: 30px;
    --rotateItem: 90;
    --topItem: 200;
    --leftItem: 200;
}

* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    overflow-y: auto;
    overflow: hidden auto;
    font-size: 18px;
}

body {
    font-family: 'HK Grotesk Wide';
    font-size:5vmin;
    font-weight: 300;
    color: var(--secondaryColor);
    background-color: var(--mainColor);
    line-height: calc(var(--fontSize) * 1.5);
    overflow-wrap: break-word;
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

h1 {
    font-size: 13vw;
}

@media(min-width:40.063em) {

h1 {
        font-size: 9vw;
}
    }

h1 {
    -webkit-hyphens: auto;
            hyphens: auto;
    font-weight: 900;
    line-height: 1;
    margin:0 var(--baseline);
    position: relative;
    z-index: 1000;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

h1.loaded {
    opacity: 1;
}

h4 {
    font-weight: 300;
}

.marquee {
    position: fixed;
    top: -150px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    -webkit-user-select: none;
            user-select: none;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.marquee.loaded {
    opacity: 1;
}

.toRepeat {
    font-weight: 900;
    line-height: 1;
    -webkit-text-stroke: 1px var(--secondaryColor);
    -webkit-text-fill-color: transparent;
    transform-origin: left top;
    margin: 0;
    width: auto;
    white-space: nowrap;
    text-align: left;
    position: absolute;
    display: block;
    font-size: 35vw
}

@media(min-width:40.063em) {

.toRepeat {
        font-size: 10rem
}
    }

.toRepeat-1 {
        left: -30px;
        transform: rotateZ(-15deg);
        top: 35vw;
        text-indent: -2rem
    }

@media(min-width:40.063em) {
    .toRepeat-1 {
            top: 10rem;
            text-indent: -4rem
    }
        }

.toRepeat-2 {
        left: -30px;
        transform: rotateZ(-15deg);
        top: 70vw;
        text-indent: -10rem
    }

@media(min-width:40.063em) {
    .toRepeat-2 {
            top: 20rem;
            text-indent: -10rem
    }
        }

.toRepeat-3 {
        left: -30px;
        transform: rotateZ(-15deg);
        top: 105vw;
        text-indent: -24rem
    }

@media(min-width:40.063em) {
    .toRepeat-3 {
            top: 30rem;
            text-indent: -0rem
    }
        }

.toRepeat-4 {
        left: -30px;
        transform: rotateZ(-15deg);
        top: 140vw;
        text-indent: -12rem
    }

@media(min-width:40.063em) {
    .toRepeat-4 {
            top: 40rem;
            text-indent: -20rem
    }
        }

.toRepeat-5 {
        left: -30px;
        transform: rotateZ(-15deg);
        top: 175vw;
        text-indent: -45rem
    }

@media(min-width:40.063em) {
    .toRepeat-5 {
            top: 50rem;
            text-indent: -15rem
    }
        }

.toRepeat-6 {
        left: -30px;
        transform: rotateZ(-15deg);
        top: 210vw;
        text-indent: -6rem
    }

@media(min-width:40.063em) {
    .toRepeat-6 {
            top: 60rem;
            text-indent: -24rem
    }
        }

.toRepeat-7 {
        left: -30px;
        transform: rotateZ(-15deg);
        top: 245vw;
        text-indent: -42rem
    }

@media(min-width:40.063em) {
    .toRepeat-7 {
            top: 70rem;
            text-indent: -14rem
    }
        }

.toRepeat-8 {
        left: -30px;
        transform: rotateZ(-15deg);
        top: 280vw;
        text-indent: -40rem
    }

@media(min-width:40.063em) {
    .toRepeat-8 {
            top: 80rem;
            text-indent: -0rem
    }
        }

a {
    color: var(--white)
}

a:hover {
        color: rebeccapurple;
    }

footer {
    position: absolute;
    bottom: var(--baseline);
    left: var(--baseline);
}

footer p {
        font-size: var(--fontSizeMin);
        line-height: 1;
        margin: 0;
    }